* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
  color: #333;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
  font-family: 'Courier New', Courier, monospace;
}

.links {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #610000;
  scale: 1.04;
}


@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
